<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="view"
         point="org.eclipse.ui.views">
      <view
            class="it.unitn.disi.unagi.gui.views.ProjectsView"
            icon="icons/view-projects.png"
            id="it.unitn.disi.unagi.gui.views.projects"
            name="Projects"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="it.unitn.disi.unagi.gui.commands.NewProjectHandler"
            id="it.unitn.disi.unagi.gui.commands.newProject"
            name="newProject">
      </command>
      <command
            defaultHandler="it.unitn.disi.unagi.gui.commands.OpenProjectHandler"
            id="it.unitn.disi.unagi.gui.commands.openProject"
            name="openProject">
      </command>
      <command
            defaultHandler="it.unitn.disi.unagi.gui.commands.QuitHandler"
            id="it.unitn.disi.unagi.gui.commands.quit"
            name="quit">
      </command>
   </extension>

</plugin>
